body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.color {
  color: orange;
  font-size: 60px;
}
/* section {
  display: flex;
} */
.para {
  color: darkgrey;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(243, 127, 81), tomato);
  padding: 10px 20px;
  border-radius: 10px 20px;
  color: ghostwhite;
  font-weight: bold;
}
.half-width {
  width: 50%;
  padding-left: 75px;
}
.half-width img {
  width: 76%;
  padding-top: 50px;
}
.banner1 {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  display: flex;
}

.secondhalf-width {
  width: 50%;
  padding-left: 75px;
}
.secondhalf-width img {
  width: 90%;
}
.banner2 {
  padding-top: px;
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.heading-style {
  font-weight: 900;
  text-align: center;
}
.banner3 {
  display: flex;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.my-journey {
  box-shadow: 5px 5px 20px gray;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-right: 20px;
  border-radius: 10px 20px;

  border-left: 7px solid;
  border-image: linear-gradient(blue, red);
  border-image-slice: 1;
}
