body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.h1color {
  color: orange;
  font-size: 60px;
}
section {
  display: flex;
}
.para1 {
  color: darkgrey;
}
.hiring-link {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 20px;
  border-radius: 10px 20px;
  color: ghostwhite;
  font-weight: bold;
}
.half-width {
  width: 50%;
  padding-left: 75px;
}
.half-width img {
  width: 70%;
  padding-top: 50px;
}
.banner1 {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
